<svg
  [attr.width]="width"
  [attr.height]="height()"
  viewBox="0 0 573 113"
  role="img"
  aria-label="Halo BI"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g
    transform="translate(0,6.5)"
    stroke="currentColor"
    stroke-width="13"
    stroke-linecap="butt"
    stroke-linejoin="miter"
  >
    <!-- H -->
    <path d="M6.5 0 V100 M6.5 50 H66 M66 0 V100" />
    <!-- A (crossbar-less chevron) -->
    <path d="M96 100 L134 0 L172 100" />
    <!-- L -->
    <path d="M208.5 0 V100 H262" />
    <!-- O with the halo notch -->
    <path d="M345.8 93.33 A43.5 43.5 0 1 0 338.2 93.33 L342 87.5 Z" />
    <!-- B -->
    <path
      d="M466.5 0 V100 M466.5 0 H492 A25 25 0 0 1 492 50 H466.5 M466.5 50 H496 A25 25 0 0 1 496 100 H466.5"
    />
    <!-- I -->
    <path d="M566.5 0 V100" />
  </g>
</svg>
